appnope==0.1.0
argcomplete==1.9.4
atomicwrites==1.2.1
attrdict==2.0.0
attrs==18.2.0
backcall==0.1.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
cloudpickle==0.5.6
cycler==0.10.0
Cython==0.28.5
dask==0.19.3
decorator==4.3.0
diff-match-patch==20121119
docopt==0.6.2
enum34==1.1.6
Flask==0.12
future==0.16.0
gitdb2==2.0.4
GitPython==2.1.11
humanize==0.5.1
idna==2.7
imgaug==0.2.6
ipython==7.0.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.13.1
Jinja2==2.11.3
kaggle==1.4.7.1
kitchen==1.2.5
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==3.0.0
more-itertools==4.3.0
neptune-cli==2.8.15
networkx==2.2
numpy==1.15.2
nvidia-ml-py3==7.352.0
oauthlib==2.1.0
opencv-python==3.4.3.18
pandas==0.23.4
parso==0.3.1
pathlib2==2.3.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pluggy==0.7.1
prompt-toolkit==2.0.5
psutil==5.4.7
ptyprocess==0.6.0
py==1.6.0
pycocotools==2.0.0
pydot-ng==1.0.0
Pygments==2.2.0
PyJWT==1.6.4
pykwalify==1.5.2
pyparsing==2.2.2
pytest==3.8.2
python-dateutil==2.7.3
python-slugify==1.2.6
pytz==2018.5
PyWavelets==1.0.1
PyYAML==3.13
raven==6.9.0
requests==2.19.1
requests-oauthlib==1.0.0
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smmap2==2.0.4
steppy==0.1.6
steppy-toolkit==0.1.5
terminaltables==2.1.0
toolz==0.9.0
torch==0.4.1
torchvision==0.2.1
tqdm==4.26.0
traitlets==4.3.2
translate-toolkit==2.3.1
typing==3.6.6
Unidecode==1.0.22
urllib3==1.22
voluptuous==0.11.5
wcwidth==0.1.7
websocket-client==0.53.0
Werkzeug==0.14.1
